<div class="house-tile-image-overlay">
  {{#link-to 'show' house}}
  <img src= {{house.image}} alt= {{house.address}}>
  <div class="image-overlay-content">
    <div class="row">
      <h2 class="col-xs-5">${{format-money house.price}}</h2>
      <h4 class="col-xs-7 details">{{bed-display house.beds}} &#9679; {{bath-display house.baths}} &#9679; {{house.sqft}} sqft</h4>
    </div>
    <div class="row">
      <h4 class="col-xs-3">For Sale</h4>
      <h4 class="gray col-xs-6">{{house.address}}</h4>
    </div>
  </div>
  {{/link-to}}
  <div class="heart">
    {{#if inList}}
    <span {{action "removeFromFavorites" house}} class="fa fa-heart"></span>
    {{else}}
    <span {{action "addToFavorites" house}} class="fa fa-heart-o"></span>
    {{/if}}
  </div>
</div>
