{{#modal-dialog close="goBackToList" translucentOverlay=true container-class='custom-styles-modal'}}
  <span class="glyphicon glyphicon-remove modal-close" {{action 'goBackToList'}}></span>
  <div class="inside-modal">
    <img src= {{model.image}} alt= {{model.address}}>
    <div class="content">
      <div class="row">
        <div class="col-xs-8">
          <h2>{{model.address}}</h2>
          <h3><strong>{{bed-display model.beds}} &#9679; {{bath-display model.baths}} &#9679; {{model.sqft}} sqft</strong></h3>
        </div>
        <div class="col-xs-3 col-xs-offset-1">
          <h3 class="on-sale"><strong>ON SALE</strong></h3>
          <h3 class="price">${{format-money model.price}}</h3>
        </div>
      </div>
      <h4>Lots of Details! Details Details Details!</h4>
      {{google-map house=model}}
    </div>
  </div>
{{/modal-dialog}}
