{{#modal-dialog close="goBackToList"}}
  <img src= {{model.image}} alt= {{model.address}}>
  <h3>{{model.address}}</h3>
  <h5>{{model.beds}} beds | {{model.baths}} baths | {{model.sqft}} sqft</h5>
  <h4>For Sale: ${{model.price}}</h4>
  <p>Lots of Details! Details Details Details!</p>
{{/modal-dialog}}
